html, body {
	margin: 0;
	height: 100%;
	width: 100%;
}

* {
	box-sizing: border-box;
}

.happy-boxes, .happy-container{
	height: 100%;
	width: 100%;
}

.happy-box {
	position: relative;
	height: 4%;
	width: 2%;
	float: left;
	z-index: 1;
}

.happy-box:hover{
	/*box-shadow: 0px 0px 90px 24px rgba(0,0,0,0.75);*/
	z-index: 100;
}
